<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logo.png" alt=""/>
    <ion-card-header>
      <ion-card-title>Citações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Um app para gerenciar suas leituras e guardar as melhores citações.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
